<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs") %> 
<body>
  <div class="container mt-5">
    <%- include("../partials/navbar.ejs") %> 
    <h1><%= title %> </h1>
    <form action="/books" method="post">
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" name="title" id="title" class="form-control">
      </div>
      <div class="form-group">
        <label for="sinopsis">Sinopsis</label>
        <textarea name="sinopsis" id="sinopsis" cols="30" rows="10" class="form-control"></textarea>
      </div>
      <div class="form-group">
        <label for="genre">Genre</label>
        <select name="genre" id="genre" class="form-control">
          <option value="Fantasy">Fantasy</option>
          <option value="Mystery">Mystery</option>
          <option value="Romance">Romance</option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary">Save</button>
    </form>
  </div>
</body>
</html>