<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs") %> 
<body>
  <div class="container mt-5">
    <h1><%= title %> </h1>
    <table class="table">
      <thead>
        <tr>
          <th>No</th>
          <th>Title</th>
          <th>Genre</th>
        </tr>
      </thead>
      <tbody>
        <% books.forEach((book, i) => { %>
          <tr>
            <td><%= i+1 %></td>
            <td><%= book.title %></td>
            <td><%= book.genre %> </td>
          </tr> 
        <% }) %>
      </tbody>
    </table>
    <a href="/books/new"><button type="button" class="btn btn-primary">Create</button></a>
  </div>
</body>
</html>